pkgbase = kwimy-hypr
	pkgdesc = Hyprland defaults and helper scripts for Kwimy
	pkgver = 0.0.4
	pkgrel = 9
	url = https://github.com/KwimyOS
	arch = any
	license = MIT
	depends = hyprland
	depends = jq

pkgname = kwimy-hypr
