@import "colors.css";

* {
    font-size: 10px;
    border-radius: 0px;
    font-weight: bold;
}

window#waybar {
    font-family: "Cantarell", "CaskaydiaCove NFP";
    border-bottom: 0px;
    background-color: alpha(@background, 0.78);
    color: @primary;
    transition-property: background-color;
    transition-duration: 0s;
    margin: 0;
    padding: 0;
}

window#waybar.empty #window {
    background-color: transparent;
}

.modules-right {
    margin: 0px 5px 0px 0px;
}
.modules-center {
    margin: 0px 0px 0px 0px;
}
.modules-left {
    margin: 0px 0px 0px 5px;
}

button {
    border: none;
}

#workspaces {
    background-color: @surface_container_low;
    border-radius: 0px;
    margin: 3px 0px 3px 0px;
}

#workspaces button {
    padding: 0px 3px 0px 3px;
    background-color: transparent;
    color: @lavender;
    border-radius: 0;
}

#workspaces button:first-child {
    border-radius: 0px 0px 0px 0px;
}

#workspaces button:last-child {
    border-radius: 0px 0px 0px 0px;
}

#workspaces button:hover {
    color: @peach;
}

#workspaces button.active {
    color: @peach;
}

#idle_inhibitor,
#custom-hyprsunset,
#cava,
#mode,
#window,
#clock,
#battery,
#backlight,
#pulseaudio,
#network,
#networkSpeed,
#tray,
#custom-notification,
#mpris {
    padding: 0px 10px 0px 10px;
    border-radius: 0px;
    margin: 3px 0px 3px 0px;
    background-color: @surface_container_low;
    color: @lavender;
}

#mode {
    background-color: @primary;
    color: @subtext1;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#cava {
    padding: 0px 0px;
}

@keyframes blink {
    to {
        background-color: @base;
        color: @lavender;
    }
}

#battery.overcharge {
    color: @maroon;
}

#battery.good {
    color: @green;
}

#battery.warning {
    color: @red;
}

#battery.critical:not(.charging) {
    background-color: @base;
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: @base;
}

#wireplumber.muted {
    background-color: @base;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#mpris.playing {
    background-color: @base;
    color: @lavender;
}

#tray menu {
    font-family: sans-serif;
}

#scratchpad.empty {
    background: transparent;
}
